<p id="notice"><%= notice %></p>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @appointment&.title %></h5>
    <h6 class="card-subtitle mb-2 text-muted">With Dr.: <%= @appointment&.doctor_name %></h6>
    <p class="card-text"><strong><p>Start Time</strong></p><p><%= @appointment&.start_date %></p>
    <p class="card-text"> <strong><p>End Time</strong></p><p><%= @appointment&.end_date %></p>
    <p class="card-text"><%= @appointment&.description %></p>
    <a href="#" class="card-link"><%= link_to 'Edit', edit_appointment_path(@appointment) %></a> |
    <a href="#" class="card-link"><%= link_to 'Back', appointments_path %></a>
  </div>
</div>